{% extends "layout.html" %}

{% block content %}
  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Text Analytica is a free to use scalable cloud application. It was created by Florian Bauer and Nathalie Pett at the University of Bristol in 2018. It is provided by Kubernetes with Dockercontainers using the Oracle Cloud. The backend is the python Flask Framework, in the frontend Vue.js and Bootstrap is used.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Whether you're a student, a proffesional or a scientist: Every one sometimes needs help by finding new sources or books, by getting the keywords from an uploaded file or by getting a short abstract from a long ebook. This Cloud Application should help you now!</p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="/">
          <i class="fas fa-download mr-2"></i>
          Use Text Analytica!
        </a>
      </div>
    </div>
  </section>
{% endblock %}