{% extends "layout.html" %}

{% block content %}
  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="./static/img/profile.png" alt="">
      <h1 class="text-uppercase mb-0">Text Analytica</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">cloud-based file analysis - keyword extraction</h2>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Files Overview</h2>
        <!--<div id="app">
              [[ band.band.title ]]
            </div>-->
      <div id="table">
        <vue-good-table
          :columns="columns"
          :rows="rows"
          :pagination-options="{ enabled: true, perPage: 10}"
          :search-options="{ enabled: true}"> 
        </vue-good-table>                  
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
  <script src="https://unpkg.com/vue-good-table@2.16.0/dist/vue-good-table.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js"></script>
  <script>
    new Vue({
    el: '#table',
    data: {
        columns: [
          {
            label: 'ID',
            field: 'id',
            type: 'number',
          },
          {
            label: 'Filename',
            field: 'name',
          },
          {
            label: 'Uploaded',
            field: 'createdAt',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'MMM Do YYYY',
          },
          {
            label: 'Keywords',
            field: 'keywords',
            type: 'list'
          },
        ],
        // ignore this errors here probably shown by your IDE - it works !
        rows: [{% for item in items %}
                { "id" : "{{ item.id }}",
                  "name" : "{{ item.name }}",
                "createdAt" : "{{ item.createdAt }}",
                "keywords" : "{{ item.keywords }}" },
        {% endfor %}]
    },/*
    methods: {
        fetchData: function (){
          this.$http.get('/test').then(response => {
            this.rows = response.body.data;
          }, response => {
            // error callback
            console.log("Unable to fetch data.");
          });
        }
      },
      mounted: function () {
        this.fetchData();
      }*/
});
</script>
{% endblock %}